*{
    box-sizing: border-box;
}
#table li{
    background-color: aqua;
    display:inline-block;
    position: fixed;
    padding: 10px;
    margin: 10px;
}
body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: sans-serif;
}
